{% include header.html %}

{% include home-hero.html %}

<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% if site.experience_title != '' %}
        <h2 class="section-title text-center">{{ site.experience_title }}</h2>
        {% endif %}
        {% if site.section_subtitle != '' %}
        <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
        {% endif %}

        <div class="break"></div>

        <div class="wow fadeIn">
          {% include experience.html %}
        </div>
      </div>
    </div>
</section>

<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% if site.skills_title != '' %}
        <h2 class="section-title text-center">{{ site.skills_title }}</h2>
        {% endif %}
        {% if site.section_subtitle != '' %}
        <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
        {% endif %}

        <div class="break"></div>

        <div class="wow fadeIn">
          {% include skills.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% if site.section_title != '' %}
        <h2 class="section-title text-center">{{ site.section_title }}</h2>
        {% endif %}
        {% if site.section_subtitle != '' %}
        <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
        {% endif %}

        <div class="break"></div>

        {% for post in paginator.posts %}
        <div class="wow fadeIn">
          {% if post.position == "left" %}
          {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
          {% include content-right.html %}
          {% endif %}
        </div>
        {% endfor %}

        {% include pagination.html %}

      </div>
    </div>
  </div>
</section>

{% include footer.html %}